*{
    box-sizing: border-box;
    font-family: "font-me";

}

@font-face{
    font-family: "font-me" ;
    src: url(./resources/coolvetica\ rg.otf);
}

@font-face{
    font-family: "font-form";
    src: url(./resources/coolvetica\ rg\ it.otf);
}

body{
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #F0F8FF;
    overflow-x: hidden;
}

body h1,h3{
    font-weight: 100;
}

header{
    width: 100%;
    height: 7vh;
}

#head{
    background-color: #041E42;
    font-size: x-large;
    position:fixed;
    width: 100%;
    z-index: 10;
    color: white;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.65);
}

.text-h{
    height: 7vh;
    display: flex;
    align-items: center;
}

.title-head{
    margin-left: 100px;
}

.title-head h1{
    margin: auto;
}

.text-h ul{
    margin: auto;
    width: 100%;
    padding: 0;
    display: inline-flex;
    justify-content: center;
}

li{
    margin-right: 120px;
    list-style: none;
}

#inicio{
    margin-top: 2%;
    width: 100%;
    margin-left: 100px;
    padding-right: 100px;
}

.text-i{
    color: rgb(0, 0, 0);
    border-bottom: solid 3px #041E42;
    padding-bottom: 10%;
    padding-left: 20px;
    border-left: solid 3px #041E42;
    border-bottom-left-radius: 10px;
}

.title-i h1{
    font-size: xx-large;
}

.cuerpo-i{
    font-size: larger;
}

#portfolio{
    margin-bottom: 5%;
    padding-bottom: 40px;
    padding-left: 140px;
    padding-right: 40px;
    margin-right: 100px;
    border-bottom: solid 3px #064399;
    border-bottom-right-radius: 10px;
    border-right: solid 3px #064399;
}

.title-prt h1{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.cuerpo-prt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    column-gap: 10px;
    row-gap: 20px;
}

.cuerpo-prt img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
}

.cuerpo-prt img:hover{
    filter: brightness(0.5);
}

#sobre-mi{
    display: flex;
    color: white;
    background-color: #041E42;
    border-radius: 28px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    margin-left: 100px;
    margin-right: 100px;
}

#sobre-mi img{
    display: flex;
    width: 100%;
    height: 80vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
}

.cuerpo-sm{
    margin-top: 15px;
    margin-left: 25px;
}

.title{
    width: 100%;
}

#contacto{
    display: flex;
    padding-top: 10%;
    padding-left: 100px;
    padding-right: 100px;
}

.formulario{
    align-items: center;
    display: flex;
    width: 50%;
}

form{
    background-color: #041E42;
    color: white;
    display: grid;
    height: 75vh;
    width: 25vw;
    border: solid 0px;
    justify-content: center;
    border-radius: 90px 10px 90px 10px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.7);
}

form h1{
    display: flex;
    justify-content: center;
}

input ,label, textarea{
    margin:20px;
    font-size: larger;
}

input,textarea{
    border: solid 0px black;
    border-radius: 10px;
    margin-top: 0;
    outline: none;
    font-family: "font-form";
}


label{
    margin-bottom: 0;
}

input{
    height: 27px;
}

textarea{
    resize: none;
}

#btn{
    width: 30%;
    background-color: black;
    color: white;
}

#btn:hover{
    color: black;
    background-color: white;
}

.img-traje{
    width: 50%;
}

.img-traje img{
    width: 100%;
    display: flex;
}